{{define "Index"}}
<!DOCTYPE html>
<html>

{{template "Head"}}

<body>
    <div class="grid" id="main-grid">
        <div class="grid-cell-2xn" hx-get="/x/weather" hx-trigger="load, every 10m"></div>
        <div class="grid-cell-2xn" hx-get="/x/indoor" hx-trigger="load, every 1m"></div>
        <div class="grid-cell-2xn" hx-get="/x/subway" hx-trigger="load, every 1m"></div>
        <div class="grid-cell-2xn" hx-get="/x/outdoor" hx-trigger="load, every 1m"></div>
        <div class="grid-cell-2xn" hx-get="/x/citibike" hx-trigger="load, every 5m"></div>
        <div class="grid-cell-2xn" hx-get="/x/sunrise" hx-trigger="load"></div>
        <div class="grid-cell-2xn" hx-get="/x/datetime" hx-trigger="load, every 1s"></div>
        <div class="grid-cell-2xn">
            {{template "Navigation"}}
        </div>
    </div>
</body>

<script src="/static/js/index.js"></script>

</html>
{{end}}
