{{define "Index"}}
<!DOCTYPE html>
<html>

{{template "Head"}}

<body>
    <div class="grid" id="main-grid">
        <div class="grid-cell-2xn">
            {{template "Forecast"}}
        </div>
        <div class="grid-cell-2xn">
            {{template "Indoor"}}
        </div>
        <div class="grid-cell-2xn">
            {{template "Subway"}}
        </div>
        <div class="grid-cell-2xn">
            {{template "Outdoor"}}
        </div>
        <div class="grid-cell-2xn">
            {{template "Citibike"}}
        </div>
        <div class="grid-cell-2xn">
            {{template "Sunrise"}}
        </div>
        <div class="grid-cell-2xn">
            {{template "Datetime"}}
        </div>
        <div class="grid-cell-2xn">
            {{template "Navigation"}}
        </div>
    </div>
</body>

</html>
{{end}}
