{{define "SubwayFull"}}
<!DOCTYPE html>
<html>

{{template "Head"}}

<body>
    <div class="grid" id="main-grid">
        <div class="grid-cell-1xn grid-cell-1xn-tall">
            <div class="grid-cell-1xn" hx-get="/x/subwayline?line={{.Line}}" hx-trigger="load"></div>
            <div class="subway-selection">
                <!-- TODO highlight disruptions with .has-disruption class -->
                <span><a href="/subway?line=1">[1]</a></span>
                <span><a href="/subway?line=2">[2]</a></span>
                <span><a href="/subway?line=3">[3]</a></span>
                <span><a href="/subway?line=4">[4]</a></span>
                <span><a href="/subway?line=5">[5]</a></span>
                <span><a href="/subway?line=6">[6]</a></span>
                <span><a href="/subway?line=7">[7]</a></span>
                <span><a href="/subway?line=A">[A]</a></span>
                <span><a href="/subway?line=B">[B]</a></span>
                <span><a href="/subway?line=C">[C]</a></span>
                <span><a href="/subway?line=D">[D]</a></span>
                <span><a href="/subway?line=E">[E]</a></span>
                <span><a href="/subway?line=F">[F]</a></span>
                <span><a href="/subway?line=G">[G]</a></span>
                <span><a href="/subway?line=J">[J]</a></span>
                <span><a href="/subway?line=L">[L]</a></span>
                <span><a href="/subway?line=M">[M]</a></span>
                <span><a href="/subway?line=N">[N]</a></span>
                <span><a href="/subway?line=Q">[Q]</a></span>
                <span><a href="/subway?line=R">[R]</a></span>
                <span><a href="/subway?line=S">[S]</a></span>
                <span><a href="/subway?line=W">[W]</a></span>
                <span><a href="/subway?line=Z">[Z]</a></span>
            </div>
        </div>
        <div class="grid-cell-2xn" hx-get="/x/datetime" hx-trigger="load, every 1s"></div>
        <div class="grid-cell-2xn">
            {{template "Navigation"}}
        </div>
    </div>
</body>

<script src="/static/js/index.js"></script>

</html>
{{end}}

{{define "SubwayLine"}}
<div class="subway">
    <div class="subway-segment">
        <span class="subway-track">←</span>
        <span class="subway-track">→</span>
    </div>
    {{range .Segments}}
    {{template "SubwaySegment" .}}
    {{end}}
    <div class="subway-segment">
        <span class="subway-track">←</span>
        <span class="subway-track">→</span>
    </div>
</div>
<div class="subway-status">
    {{range .Alerts}}
    <p>{{.}}</p>
    {{else}}
    Good Service.
    {{end}}
</div>
{{end}}

{{define "SubwaySegment"}}
<div class="subway-segment">
    {{if .IsStation}}
    <span class="subway-track {{if .HasTrainNorth}}has-train{{end}}">
        {{if .NoServiceNorth}}×{{else}}■{{end}}</span>
    <span class="subway-track {{if .HasTrainSouth}}has-train{{end}}">
        {{if .NoServiceSouth}}×{{else}}■{{end}}</span>
    <span
        class="subway-station-label {{if or .NoServiceNorth .NoServiceSouth}}no-service-station{{end}}">{{.StationName}}</span>
    {{else}}
    <span class="subway-track {{if .HasTrainNorth}}has-train{{end}}">═</span>
    <span class="subway-track {{if .HasTrainNorth}}has-train{{end}}">═</span>
    {{end}}
</div>
{{end}}
