{{define "SunriseFull"}}
<!DOCTYPE html>
<html>

{{template "Head"}}

<body>
    <div class="grid" id="main-grid">
        <div class="grid-cell-2xn sunrise-grid-cell">
            <table class="sunrise-table">
                <tr>
                    <th></th>
                    <th><i class="wi wi-sunrise"></i></th>
                    <th><i class="wi wi-sunset"></i></th>
                    <th><i class="wi wi-night-clear"></i></th>
                    <th><i class="wi wi-hot"></i></th>
                </tr>
                <tr>
                    <td>MON</td>
                    <td>7:12 AM</td>
                    <td>4:58 PM</td>
                    <td><i class="wi wi-moon-waxing-crescent-4"></i></td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>TUE</td>
                    <td>7:12 AM</td>
                    <td>4:58 PM</td>
                    <td><i class="wi wi-moon-waxing-crescent-4"></i></td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>WED</td>
                    <td>7:12 AM</td>
                    <td>4:58 PM</td>
                    <td><i class="wi wi-moon-waxing-crescent-4"></i></td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>THU</td>
                    <td>7:12 AM</td>
                    <td>4:58 PM</td>
                    <td><i class="wi wi-moon-waxing-crescent-4"></i></td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>FRI</td>
                    <td>7:12 AM</td>
                    <td>4:58 PM</td>
                    <td><i class="wi wi-moon-waxing-crescent-4"></i></td>
                    <td>1</td>
                </tr>
            </table>

            <div hx-get="/x/sundial" hx-trigger="load, every 1m"></div>
            <div class="sundial-horizon"></div>
        </div>
        <div class="grid-cell-2xn">
            <div hx-get="/x/aqi" hx-trigger="load, every 10m"></div>
        </div>
        <div class="grid-cell-2xn" hx-get="/x/datetime" hx-trigger="load, every 1s"></div>
        <div class="grid-cell-2xn">
            {{template "Navigation"}}
        </div>
    </div>
</body>

<script src="/static/js/index.js"></script>

</html>
{{end}}
