{{define "WeatherFull"}}
<!DOCTYPE html>
<html>

{{template "Head"}}

<body>
    <div class="grid" id="main-grid">
        <div class="grid-cell-2xn weather-cell">
            <table class="weather-table-today">
                <tr>
                    <th></th>
                    <th></th>
                    <th>Temp.</th>
                    <th>Humidity</th>
                    <th>Wind</th>
                    <th>Rain Prop.</th>
                    <th>Rain Total</th>
                </tr>
                <tr>
                    <td class="weather-table-ts">8 AM</td>
                    <td><i class="wi wi-day-sunny"></i></td>
                    <td>23°F</td>
                    <td>45%</td>
                    <td>15mph</td>
                    <td>80%</td>
                    <td>0.4in</td>
                </tr>
                <tr>
                    <td class="weather-table-ts">9 AM</td>
                    <td><i class="wi wi-day-sunny"></i></td>
                    <td>23°F</td>
                    <td>45%</td>
                    <td>15mph</td>
                    <td>80%</td>
                    <td>0.4in</td>
                </tr>
                <tr>
                    <td class="weather-table-ts">10 AM</td>
                    <td><i class="wi wi-day-sunny"></i></td>
                    <td>23°F</td>
                    <td>45%</td>
                    <td>15mph</td>
                    <td>80%</td>
                    <td>0.4in</td>
                </tr>
                <tr>
                    <td class="weather-table-ts">11 AM</td>
                    <td><i class="wi wi-day-sunny"></i></td>
                    <td>23°F</td>
                    <td>45%</td>
                    <td>15mph</td>
                    <td>80%</td>
                    <td>0.4in</td>
                </tr>
                <tr>
                    <td class="weather-table-ts">12 PM</td>
                    <td><i class="wi wi-day-sunny"></i></td>
                    <td>23°F</td>
                    <td>45%</td>
                    <td>15mph</td>
                    <td>80%</td>
                    <td>0.4in</td>
                </tr>
                <tr>
                    <td class="weather-table-ts">1 PM</td>
                    <td><i class="wi wi-day-sunny"></i></td>
                    <td>23°F</td>
                    <td>45%</td>
                    <td>15mph</td>
                    <td>80%</td>
                    <td>0.4in</td>
                </tr>
                <tr>
                    <td class="weather-table-ts">2 PM</td>
                    <td><i class="wi wi-day-sunny"></i></td>
                    <td>23°F</td>
                    <td>45%</td>
                    <td>15mph</td>
                    <td>80%</td>
                    <td>0.4in</td>
                </tr>
                <tr>
                    <td class="weather-table-ts">3 PM</td>
                    <td><i class="wi wi-day-sunny"></i></td>
                    <td>23°F</td>
                    <td>45%</td>
                    <td>15mph</td>
                    <td>80%</td>
                    <td>0.4in</td>
                </tr>
                <tr>
                    <td class="weather-table-ts">4 PM</td>
                    <td><i class="wi wi-day-sunny"></i></td>
                    <td>23°F</td>
                    <td>45%</td>
                    <td>15mph</td>
                    <td>80%</td>
                    <td>0.4in</td>
                </tr>
                <tr>
                    <td class="weather-table-ts">5 PM</td>
                    <td><i class="wi wi-day-sunny"></i></td>
                    <td>23°F</td>
                    <td>45%</td>
                    <td>15mph</td>
                    <td>80%</td>
                    <td>0.4in</td>
                </tr>
                <tr>
                    <td class="weather-table-ts">6 PM</td>
                    <td><i class="wi wi-day-sunny"></i></td>
                    <td>23°F</td>
                    <td>45%</td>
                    <td>15mph</td>
                    <td>80%</td>
                    <td>0.4in</td>
                </tr>
                <tr>
                    <td class="weather-table-ts">7 PM</td>
                    <td><i class="wi wi-day-sunny"></i></td>
                    <td>23°F</td>
                    <td>45%</td>
                    <td>15mph</td>
                    <td>80%</td>
                    <td>0.4in</td>
                </tr>
                <tr>
                    <td class="weather-table-ts">8 PM</td>
                    <td><i class="wi wi-day-sunny"></i></td>
                    <td>23°F</td>
                    <td>45%</td>
                    <td>15mph</td>
                    <td>80%</td>
                    <td>0.4in</td>
                </tr>
            </table>
        </div>
        <div class="grid-cell-2xn weather-cell">
            <table class="weather-table-forecast">
                <tr>
                    <th></th>
                    <th></th>
                    <th>High</th>
                    <th>Low</th>
                    <th>Humidity</th>
                    <th>Rain Prop.</th>
                    <th>Rain Total</th>
                </tr>
                <tr>
                    <td>MON</td>
                    <td><i class="wi wi-day-sunny"></i></td>
                    <td>43°F</td>
                    <td>32°F</td>
                    <td>20%</td>
                    <td>0%</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>TUE</td>
                    <td><i class="wi wi-day-sunny"></i></td>
                    <td>43°F</td>
                    <td>32°F</td>
                    <td>20%</td>
                    <td>0%</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>WED</td>
                    <td><i class="wi wi-day-sunny"></i></td>
                    <td>43°F</td>
                    <td>32°F</td>
                    <td>20%</td>
                    <td>0%</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>THU</td>
                    <td><i class="wi wi-day-sunny"></i></td>
                    <td>43°F</td>
                    <td>32°F</td>
                    <td>20%</td>
                    <td>0%</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>FRI</td>
                    <td><i class="wi wi-day-sunny"></i></td>
                    <td>43°F</td>
                    <td>32°F</td>
                    <td>20%</td>
                    <td>0%</td>
                    <td>0</td>
                </tr>
            </table>

            <div class="weather-alerts">
                <div class="weather-alert">
                    <div class="weather-alert-title">Small Craft Advisory</div>
                    <div class="weather-alert-ts">JAN 19 8AM to JAN 20 8AM</div>
                    <div class="weather-alert-content">...SMALL CRAFT ADVISORY REMAINS IN EFFECT FROM 5 PM
                        THIS\nAFTERNOON TO 3 AM EST FRIDAY...\n* WHAT...North winds 15 to 20 kt with gusts up to 25 kt
                        and seas\n3 to 5 ft expected.\n* WHERE...Coastal waters from Little Egg Inlet to Great
                        Egg\nInlet NJ out 20 nm, Coastal waters from Great Egg Inlet to\nCape May NJ out 20 nm and
                        Coastal waters from Manasquan Inlet\nto Little Egg Inlet NJ out 20 nm.\n* WHEN...From 5 PM this
                        afternoon to 3 AM EST Friday.\n* IMPACTS...Conditions will be hazardous to small craft.</div>
                </div>
            </div>
        </div>
        <div class="grid-cell-2xn" hx-get="/x/datetime" hx-trigger="load, every 1s"></div>
        <div class="grid-cell-2xn">
            {{template "Navigation"}}
        </div>
    </div>
</body>

<script src="/static/js/index.js"></script>

</html>
{{end}}
