{{define "Citibike"}}
<div>

    <span class="inline-grid bike-table">
        <div class="grid-cell-1xn bike-station">Scholes & Manhattan</div>
        <div class="grid-cell-1xn">
            <span class="total-bikes">5</span>
            <span class="inline-grid bike-details">
                <div class="grid-cell-1xn">◌ 2</div>
                <div class="grid-cell-1xn"><i class="wi wi-lightning"></i> 3</div>
                <div class="grid-cell-1xn">↘ 1</div>
            </span>
        </div>
    </span>

    <span class="inline-grid bike-table">
        <div class="grid-cell-1xn bike-station">Leonard & Boerum</div>
        <div class="grid-cell-1xn">
            <span class="total-bikes">17</span>
            <span class="inline-grid bike-details">
                <div class="grid-cell-1xn">◌ 10</div>
                <div class="grid-cell-1xn"><i class="wi wi-lightning"></i> 7</div>
                <div class="grid-cell-1xn">↗ 1</div>
            </span>
        </div>
    </span>

</div>
{{end}}
