{{define "Forecast"}}
<div>
    <div>FORECAST</div>

    <i id="weather-today" class="wi wi-day-sunny"></i>

    <span class="inline-grid temp-today">
        <div class="grid-cell-1xn">35 ºF</div>
        <div class="grid-cell-1xn">10% <i class="wi wi-raindrop"></i></div>
        <div class="grid-cell-1xn">21 ºF</div>
    </span>

    <span class="inline-grid forecast">
        <div class="grid-cell-1xn">MON <i class="wi wi-day-cloudy"></i> 50% ↗42 ↘23 </div>
        <div class="grid-cell-1xn">TUE <i class="wi wi-day-sunny"></i> 0% ↗21 ↘9 </div>
        <div class="grid-cell-1xn">WED <i class="wi wi-day-sunny"></i> 10% ↗20 ↘13 </div>
    </span>

</div>
{{end}}
