{{define "Indoor"}}
<div>
    <div>INDOOR</div>

    <span class="integer-part">75</span>
    <span class="inline-grid">
        <div class="grid-cell-1xn">ºF</div>
        <div class="grid-cell-1xn">↗</div>
        <div class="grid-cell-1xn fractional-part">.4</div>
    </span>

    <span class="integer-part">52</span>
    <span class="inline-grid">
        <div class="grid-cell-1xn">%</div>
        <div class="grid-cell-1xn">↘</div>
        <div class="grid-cell-1xn fractional-part">.0</div>
    </span>
    <span class="inline-grid humidity">
        <div class="grid-cell-level-indicator">&nbsp;</div>
        <div class="grid-cell-level-label humidity-humid">Humid</div>
        <div class="grid-cell-level-indicator">❯</div>
        <div class="grid-cell-level-label humidity-healthy">Healthy</div>
        <div class="grid-cell-level-indicator">&nbsp;</div>
        <div class="grid-cell-level-label humidity-dry">Dry</div>
    </span>
</div>
{{end}}
