{{define "Outdoor"}}
<div>
    <div>OUTDOOR</div>

    <span class="integer-part">32</span>
    <span class="inline-grid">
        <div class="grid-cell-1xn">ºF</div>
        <div class="grid-cell-1xn">↗</div>
        <div class="grid-cell-1xn fractional-part">.7</div>
    </span>

    <span class="integer-part">14</span>
    <span class="inline-grid">
        <div class="grid-cell-1xn">%</div>
        <div class="grid-cell-1xn">↘</div>
        <div class="grid-cell-1xn fractional-part">.1</div>
    </span>
    <span class="inline-grid humidity">
        <div class="grid-cell-level-indicator">&nbsp;</div>
        <div class="grid-cell-level-label humidity-humid">Humid</div>
        <div class="grid-cell-level-indicator">&nbsp;</div>
        <div class="grid-cell-level-label humidity-healthy">Healthy</div>
        <div class="grid-cell-level-indicator">❯</div>
        <div class="grid-cell-level-label humidity-dry">Dry</div>
    </span>
</div>
{{end}}
