{{define "Subway"}}
<div>

    <span class="inline-grid train-table">
        <div class="grid-cell-1xn train-line"><i class="wi wi-train"></i> {{.First.TrainLine}} {{.First.StopName}}
        </div>
        <div class="grid-cell-1xn">
            <span class="next-train">{{.First.NextTrainIn}}</span>
            <span class="inline-grid train-details">
                <div class="grid-cell-1xn">{{.First.Destination}}</div>
                <div class="grid-cell-1xn">{{if .First.HasIssues}}⌘ issues{{else}}&nbsp;{{end}}</div>
                <div class="grid-cell-1xn">»
                    {{ range $index, $train := .First.FurtherTrains -}}
                    {{- if $index -}}, {{ end -}}
                    {{- $train -}}
                    {{- end -}}
                </div>
            </span>
        </div>
    </span>

    <span class="inline-grid train-table">
        <div class="grid-cell-1xn train-line"><i class="wi wi-train"></i> {{.Second.TrainLine}} {{.Second.StopName}}
        </div>
        <div class="grid-cell-1xn">
            <span class="next-train">{{.Second.NextTrainIn}}</span>
            <span class="inline-grid train-details">
                <div class="grid-cell-1xn">{{.Second.Destination}}</div>
                <div class="grid-cell-1xn">{{if .Second.HasIssues}}⌘ issues{{else}}&nbsp;{{end}}</div>
                <div class="grid-cell-1xn">»
                    {{ range $index, $train := .Second.FurtherTrains -}}
                    {{- if $index -}}, {{ end -}}
                    {{- $train -}}
                    {{- end -}}
                </div>
            </span>
        </div>
    </span>

</div>
{{end}}
