{{define "Subway"}}
<div>

    <span class="inline-grid train-table">
        <div class="grid-cell-1xn train-line"><i class="wi wi-train"></i> L</div>
        <div class="grid-cell-1xn">
            <span class="next-train">5</span>
            <span class="inline-grid train-details">
                <div class="grid-cell-1xn">8th Avenue</div>
                <div class="grid-cell-1xn">&nbsp;</div>
                <div class="grid-cell-1xn">» 10, 15</div>
            </span>
        </div>
    </span>

    <span class="inline-grid train-table">
        <div class="grid-cell-1xn train-line"><i class="wi wi-train"></i> G</div>
        <div class="grid-cell-1xn">
            <span class="next-train">1</span>
            <span class="inline-grid train-details">
                <div class="grid-cell-1xn">Court Sq</div>
                <div class="grid-cell-1xn">⌘ issues</div>
                <div class="grid-cell-1xn">» 10, 16</div>
            </span>
        </div>
    </span>

</div>
{{end}}
