{{define "Sunrise"}}
<div>
    <div id="sun-table">
        <div id="sun-symbols" class="inline-grid">
            <div class="grid-cell-1xn"><i class="wi wi-sunrise"></i></div>
            <div class="grid-cell-1xn sun-spacer">&nbsp;</div>
            <div class="grid-cell-1xn"><i class="wi {{.MoonPhaseIcon}}"></i></div>
        </div>

        <span id="sun-times" class="inline-grid">
            <div class="grid-cell-1xn">{{.SunriseTime}} AM</div>
            <div class="grid-cell-1xn sun-spacer">&nbsp;</div>
            <div class="grid-cell-1xn">{{.SunsetTime}} PM</div>
        </span>

        <span id="aqi-table" class="inline-grid">
            <div class="grid-cell-level-indicator">&nbsp;</div>
            <div class="grid-cell-level-label aqi-title">AQI</div>
            <div class="grid-cell-level-indicator">{{if eq .AQI 1}}❯{{else}}&nbsp;{{end}}</div>
            <div class="grid-cell-level-label aqi-good">Good</div>
            <div class="grid-cell-level-indicator">{{if eq .AQI 2}}❯{{else}}&nbsp;{{end}}</div>
            <div class="grid-cell-level-label aqi-moderate">Moderate</div>
            <div class="grid-cell-level-indicator">{{if eq .AQI 3}}❯{{else}}&nbsp;{{end}}</div>
            <div class="grid-cell-level-label aqi-poor">Poor</div>
            <div class="grid-cell-level-indicator">{{if eq .AQI 4}}❯{{else}}&nbsp;{{end}}</div>
            <div class="grid-cell-level-label aqi-unhealthy">Unhealthy</div>
            <div class="grid-cell-level-indicator">{{if eq .AQI 5}}❯{{else}}&nbsp;{{end}}</div>
            <div class="grid-cell-level-label aqi-very-unhealthy">Hazardous</div>
        </span>
    </div>
</div>
{{end}}

{{define "SunriseForecast"}}
<table class="sunrise-table">
    <tr>
        <th></th>
        <th><i class="wi wi-sunrise"></i></th>
        <th><i class="wi wi-sunset"></i></th>
        <th><i class="wi wi-night-clear"></i></th>
        <th><i class="wi wi-hot"></i></th>
    </tr>
    {{range .Forecast}}
    <tr>
        <td>{{.DayOfWeek}}</td>
        <td>{{.Sunrise}}</td>
        <td>{{.Sunset}}</td>
        <td><i class="wi {{.MoonIcon}}"></i></td>
        <td>{{.UVIndex}}</td>
    </tr>
    {{end}}
</table>
{{end}}
