{{define "Sunrise"}}
<div>

    <div id="sun-table">
        <div id="sun-symbols" class="inline-grid">
            <div class="grid-cell-1xn"><i class="wi wi-sunrise"></i></div>
            <div class="grid-cell-1xn sun-spacer">&nbsp;</div>
            <div class="grid-cell-1xn"><i class="wi wi-moon-waning-gibbous-1"></i></div>
        </div>

        <div id="sun-city">NYC</div>

        <span id="sun-times" class="inline-grid">
            <div class="grid-cell-1xn">7:16 AM</div>
            <div class="grid-cell-1xn sun-spacer">&nbsp;</div>
            <div class="grid-cell-1xn">5:03 PM</div>
        </span>
    </div>

</div>
{{end}}
wi-sunrise
